@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --softblue: hsl(240, 73%, 65%);
  --Soft-violet: hsl(273, 75%, 66%);
  --Very-dark-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Kumbh Sans";
  background: linear-gradient(var(--Soft-violet), var(--softblue));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrp {
  background-color: white;
  width: 70%;
  max-width: 950px;
  min-width: 800px;
  border-radius: 20px;
  display: flex;
  height: 450px;
}
.left {
  width: 50%;
}
.overflowwrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.bgimg {
  position: absolute;
  width: 775px;
  left: -387.5px;
  top: -200px;
  z-index: 1;
}
.platform {
  position: absolute;
  width: 450px;
  left: -60px;
  top: 30px;
  z-index: 2;
}
.cube {
  position: relative;
  top: -290px;
  z-index: 3;
  width: 160px;
  left: -90px;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 90px 40px 0;
}
.header {
  font-size: 18px;
}
.faqtopics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.topic {
  padding: 12px 0;
  border-bottom: 2px solid var(--Light-grayish-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.button {
  background-color: white;
  text-align: left;
  border: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  margin: 2px 0px;
}
.button:hover {
  color: var(--Soft-red);
}
.arrow {
  height: 8px;
}
@media (max-width: 900px) {
  .wrp {
    flex-direction: column;
    width: 500px;
    min-width: 1px;
    height: max-content;
  }
  .left {
    overflow: visible;
    width: 100%;
    height: 10vh;
    min-height: 150px;
  }
  .right {
    width: 100%;
    padding: 20px;
  }
  .header {
    text-align: center;
    margin-bottom: 25px;
  }
  .faqtopics {
    margin-bottom: 30px;
  }
  .bgimg {
    position: absolute;
    width: 280px;
    transform: translateX(-50%);
    left: 50%;
    top: -145px;
    z-index: 1;
  }
  .platform {
    position: absolute;
    width: 280px;
    transform: translateX(-50%);
    left: 50%;
    top: -120px;
    z-index: 2;
  }
  .cube {
    position: relative;
    top: -175px;
    left: 23%;
    z-index: 3;
    width: 80px;
  }
  .overflowwrap {
    overflow: visible;
  }
  .bgoverflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 90px;
    position: relative;
  }
}
@media (max-width: 500px) {
  .wrp {
    width: 330px;
  }
  .cube {
    position: relative;
    top: -175px;
    left: 8.5%;
    z-index: 3;
    width: 80px;
  }
}
