@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  /* --Linear-gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%); */
  --White: hsl(0, 0%, 100%);
  --Red: hsl(0, 100%, 66%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --StandardSize: 18px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--StandardSize);
}
body {
  display: flex;
  height: 100vh;
  font-family: "Space Grotesk";
  overflow: hidden;
}
.left {
  background-image: url(./images/bg-main-desktop.png);
  width: 35%;
  background-size: cover;
  background-repeat: no-repeat;
}
.right {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 125px;
}
.cardnr1 {
  position: fixed;
  top: 10%;
  left: calc(30% - 250px);
}
.cardnr2 {
  position: fixed;
  top: 55%;
  left: calc(30% - 150px);
}
.gridbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  width: 50%;
  max-width: 500px;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 367px;
}
.cardname {
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  flex-direction: column;
}
.cardnamei {
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
}
.CardNumber {
  grid-area: 2 / 1 / 3 / 5;
  display: flex;
  flex-direction: column;
}
.CardNumberi {
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
}
.Exp {
  grid-area: 3 / 1 / 4 / 3;
  display: flex;
  flex-direction: column;
}
.expinput {
  margin-top: 5px;
}
.MMi {
  padding: 10px;
  border-radius: 8px;
}
.YYi {
  padding: 10px;
  border-radius: 8px;
}
.cvc {
  grid-area: 3 / 3 / 4 / 5;
  display: flex;
  flex-direction: column;
}
.cvci {
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
}
.confirm {
  grid-area: 4 / 1 / 5 / 5;
  display: flex;
  flex-direction: column;
}
.confirmi {
  background-color: var(--Very-dark-violet);
  color: var(--Light-grayish-violet);
  padding: 10px;
  border-radius: 8px;
}
.MMi {
  width: 47%;
}
.YYi {
  width: 47%;
}
@media (max-width: 1150px) {
  .cardnr2 {
    display: none;
  }
}
@media (max-width: 888px) {
  .cardnr1 {
    display: none;
  }
  .right {
    padding-left: 0;
  }
}
@media (max-height: 550px) {
  .cardnr1 {
    display: none;
  }
  .cardnr2 {
    display: none;
  }
}
