@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}
.star {
  background-image: url(./images/icon-star.svg);
  background-size: cover;
  width: 14px;
  height: 14px;
}
.stars {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
body {
  display: flex;
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: right 55vw bottom 45vh, left 55vw top 25vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 15px;
  background-color: white;
}

main {
  width: 70%;
  max-width: 1075px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
}

#top--left {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  row-gap: 30px;
}
#head {
  font-size: 50px;
  color: hsl(300, 43%, 22%);
}
#desc {
  font-weight: 500;
  line-height: 1.4;
  color: hsl(303, 10%, 53%);
}
#top--right {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#bottom {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  column-gap: 20px;
}
.rating {
  background-color: hsl(300, 24%, 96%);
  width: 80%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-around;
  font-weight: 700;
}
.rating.r {
  align-self: flex-start;
}
.rating.g {
  align-self: center;
}
.rating.b {
  align-self: flex-end;
}
.rec {
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  width: 50%;
  padding: 25px;
  border-radius: 8px;
  line-height: 1.3;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.names {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imga {
  background-image: url(./images/image-colton.jpg);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-size: cover;
  margin-right: 20px;
}
#imgb {
  background-image: url(./images/image-irene.jpg);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-size: cover;
  margin-right: 20px;
}
#imgc {
  background-image: url(./images/image-anne.jpg);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-size: cover;
  margin-right: 20px;
}
.name {
  font-weight: 700;
}
.buyer {
  color: hsl(333, 80%, 67%);
}
.rec.a {
  align-self: flex-start;
}
.rec.b {
  align-self: center;
}
.rec.c {
  align-self: flex-end;
}
